@page
@model BeautySalonManager.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <div class="col-md-offset-1">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;

                                foreach (var treatment in Model.AssignedTreatmentDataList)
                                {
                                    if (cnt++ % 5 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td class="col-md-10 text-center text-nowrap">
                                        <input type="checkbox"
                                               name="selectedTreatments"
                                               value="@treatment.TreatmentId"
                                               @(Html.Raw(treatment.Assigned ? "checked=\"checked\"" : "")) />
                                               @treatment.Name
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
