@page "{date:datetime?}/{treatmentAssignmentId:int?}/{userId:int?}"
@model BeautySalonManager.Pages.Treatments.ConfirmEnrollmentModel
@{
    ViewData["Title"] = "ConfirmEnrollment";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>ConfirmEnrollment</h2>

