@page
@model BeautySalonManager.Pages.Treatments.CreateModel

@{
    ViewData["Title"] = "Dodaj nowy zabieg";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Treatment.Name" class="control-label"></label>
                <input asp-for="Treatment.Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Treatment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Duration" class="control-label"></label>
                <input asp-for="Treatment.Duration" type="time" class="form-control" />
                <span asp-validation-for="Treatment.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Price" class="control-label"></label>
                <input asp-for="Treatment.Price" class="form-control" />
                <span asp-validation-for="Treatment.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment.Category" class="control-label">Kategoria</label>
                <select asp-for="Treatment.Category" class="form-control">
                    <option value="1">Paznokcie</option>
                    <option value="2">Rzęsy/brwi</option>
                    <option value="3">Twarz</option>
                    <option value="4">Ciało</option>
                </select>
                <span asp-validation-for="Treatment.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
