@page
@model AboutModel
@{
    ViewData["Title"] = "Promocje";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>PROMOCJA</p>
<p>Każdy kolejny zabieg z serii w tej samej kategorii - obniżka 10%!</p>
