@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Barbeauty Salon Urody</strong><br />
    Dworek 30, 44-200 Rybnik<br />
    <abbr title="Phone">Nr telefonu:</abbr>
    (+48) 504 460 600
</address>

<address>
    <strong>Adres email:</strong> <a href="mailto:Support@example.com">basiasz30@gmail.com</a><br />
</address>
