@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Barbeauty</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witaj w świecie piękna!</h2>
        <p>
            Nasz salon oferuje szeroki wachlarz zabiegów, dzięki którym możesz poprawić swoje samopoczucie, urodę oraz zdrowie. 
            Praca jest naszą pasją, stawiamy więc na ciągły rozwój poprzez uczestnictwo w certyfikowanych kursach.
            Staramy się, aby atmosfera w naszym miejscu pozwalała na odpoczynek od codziennych obowiązków, 
            a wizyta była chwilą relaksu dla wszystkich naszych Klientów. Oferujemy więc profesjonalne zabiegi,
            sympatyczny personel oraz pyszną kawę i herbatę.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Zapoznaj się z naszą ofertą</h2>
        <p>Zachęcamy do zapoznania się z pełną ofertą salonu, zamieszczonej w zakładce Usługi. Po wybraniu zabiegu,
            należy przejść do zakładki Rezerwacja, w celu ustalenia terminu wizyty.</p>
        <p>
            <a class="btn btn-default"
               href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro">
                See the tutorial &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-rp/intro/samples/">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>